- name: Install and run nginx
  hosts: web
  become: yes # To become root user
  tasks:
  - name: Install nginx
    ansible.builtin.package:
      name: nginx
      state: present

  - name: Start nginx
    ansible.builtin.service:
      name: nginx
      state: started
      enabled: yes